@page "/inventories"

<h3>Inventory List</h3>
<br />
<br />
<IMS.WebApp.Components.Controls.SearchComponent OnSearch="HandleSearch"></IMS.WebApp.Components.Controls.SearchComponent>
<br />
<IMS.WebApp.Components.Controls.InventoryListComponent searchInventoryFilter="@inventoryNameSearch"></IMS.WebApp.Components.Controls.InventoryListComponent>
<br />
<a href="/addinventory" class="btn btn-primary">Add Inventory</a>

@code {

	private string? inventoryNameSearch;

	private void HandleSearch(string searchFilter)
	{
		inventoryNameSearch = searchFilter;
	}
}
